@import url(../nav.css);

body{
   background-color: rgb(228, 227, 227);
}


nav {
    width: 23%;
    height: 57px;
   margin: 5px;
   padding: 10px;
  }
th{
    padding: 25px;
    text-align: center;
    
}
table{
    width: 1500px;
    height: fit-content;
    margin: 20px;
    border: 1px solid black;
}
td{
    padding: 25px;
    text-align: center;
    border: 1px solid black;
}

a{
    margin: 5px;
    text-decoration: none;
}
.res{
    margin: 10px;
    background-color: white;
}
.gray{
    background-color: white;
}
img{
    height: 31px;
}
.copy{
    text-align: center;
}
